// body background color

// bg color 
$white:white;
$black:#000;
$gray:#f8f8f8;
$bg-dark:#343a40;

$tab-color:#020202;

$border:#5e5e5e;


// Box ::shadow
$tab-li:#ccc;
$tab-active:#777;




// Comen Color
$text-primary:#007bff;
$text-secondary:#b7c0cd;
$text-success:#28a745;
$text-danger:#dc3545;
$text-warning:#ffc107; 
$text-light:#f8f9fa;
$text-dark:#343a40;
$text-muted:#6c757d;
$text-white:#fff;



