
// Background color
$bg-color:#e0e0fc;
$them-color:#5f5fff;
$them-color2:#4545ed;

// Hover color 
$hover:#eeeeee;

$placeholder:#b6b6b6;

// Heading color
$h4:#888;

/*Theme Font color */
$white:#fff;
$text-primary:#007bff;
$text-secondary:#6c757d;
$text-success:#28a745;
$text-danger:#dc3545;
$text-warning:#ffc107;
$text-light:#f8f9fa;
$text-dark:#343a40;
$text-muted:#6c757d;



