// body background color
$bg-color:#f7f8fa;

// body font color
$body-font-color:#545454;


/*Theme Font color */
$list-btn1:#f1f2f4;
$abp-ft-color:#dd2727;


// Heading font color
$h1-color:#545454;
$h2-color:#53627c;
$h3-color:#53627c;
$h4-color:#b7c0cd;
$h5-color:#98a1b1;
$h6-color:#000;

// Theme bg btn color
$them-bg-btn:#ff5980;


// Input Placeholder
$input-color:#0a1f44;


// bg color 
$bg-white:white;
$bg-bar-color:#f1f2f4;
    
// Home card Shadw
$home-shadow:#777;
$login-shadow:#ccc;

// home card font color
$h-c-f: #022047;

// Home card p color
$h-c-p: #53627c;

// Table th color
$table-th-color: $input-color;
$table-border-color: $h5-color;


/* GRADIENT COLOR VARIABLES
============================================= */
$theme-gradient1: #ff5980;
$theme-gradient2: #ffa882;


// login btn
$login-btn-gradient1:#ff512f;
$login-btn-gradient2:#dd2476;


// Box shadow Color
$topbar-shadow:rgba(0, 0, 0, 0.3);

// Login btn sahdow
$login-btn-shadow: #b7c0cd;


// Comen font
$font-12: 0.75rem;
$font-14: 0.875rem;

$assets-icon-bg:#758196;

// Comen Color
$black:#000;
$white:#fff;
$danger:#b90934;
$text-primary:#007bff;
$text-secondary:#b7c0cd;
$text-success:#28a745;
$text-warning:#ffc107;
$text-light:#f8f9fa;
$text-dark:#343a40;
$text-muted:#6c757d;
$text-white:#fff;



