
/*Theme Font color */
$text-primary:#007bff;
$text-secondary:#6c757d;
$text-success:#28a745;
$text-danger:#dc3545;
$text-warning:#ffc107;
$text-light:#f8f9fa;
$text-dark:#343a40;
$text-muted:#6c757d;
$text-white:#fff;


